body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 5s ease-in-out;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.tatwa-box {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.progress-bar {
    width: 80%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: white;
    transition: width 1s linear;
}

img {
    max-width: 200px;
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
